
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: all linear 2s;
}
body{
    font-family: 'Poppins', sans-serif;

}
li{
    list-style-type: none;
}
.color-black{
    color: black;
}
.margin-top-200{
    margin-top: 200px;
}
.container-fluid{
    /* margin: 0px 100px 0px 100px; */
}
.footer-main{
    background-color: white;
}
.navbar-inverse .navbar-nav>li>a {
    font-weight: 600;
    color: #222222;
    font-size: 15px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #222222;
    border: 1px solid #222222;
    background-color: transparent;
}
.p-color{
    color:#616161;
    font-family: Mulish;
    line-height:28.8px;
    margin: 0px 0px 10px;
}
.footer{
    height: 100px;
    
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #222222;
}
.selections{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 1%;
}
.lienhe{
    position: absolute;
    right: 20px;
    top: 20%;
    align-items: center;
}
.lienhe a{
    padding: 15px 30px;
    border-radius: 13px;
    border: 1px solid #222222;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.lienhe a:hover{
    border: none;
    background-color: #222222;
    color: white;
    font-weight: 600;
}
.banner-content {
    color: black;
    margin-top: 100px;
}
.content_slider{
    animation: leftTo linear 0.8s;
}
.bim-gif{
    width: 100%;
    animation: rightTo linear 1s;
     
}
.xemchitiet{
    display: block;
    margin-top: 50px;
    width: 150px;
    padding: 15px 26px;
    border-radius: 15px;
    color: #222222;
    font-size: 15px;
    border: 2px solid #222222;
    font-weight: 500;
    text-decoration: none;
}
.xemchitiet:hover{
    background-color: #222222;
    color: white;
}

/* animaition */


@keyframes rightTo{
    0%{
        transform: translateX(800px);
        opacity: 0;
    }
    50%
     {
        transform: translateX(400px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}


@keyframes leftTo{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    50%
     {
        transform: translateX(-250px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}


/* end */

.course_img{
    height: 300px;
    width: 87%;
}
.rating{
    display: flex;
}
.rating li i{
    padding-right: 7px;
    color: #1030bf;
}
.course-content{
    position: relative;
    padding: 20px 15px 1px 15px;

    margin-bottom: 42px;
}
.price{
    position: absolute;
    right: 0;
    background-color: red;
    height: 76px;
    width: 76px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    border-radius: 50%;
    margin-top: -38px;
}

.tag{
    font-size: 15px;
    color: #616161;
}

.animaiton_hover_course:hover{
    transform: translateY(-10px);
    transition: all linear 0.75s;
}
.tieudekh{
    text-align: center;
    margin-bottom: 50px;
}

.single-course{

    background-color: #fff;
}


.lessons{
    display: flex;
    justify-content: space-between;
}
.lessons li{
    color: #616161;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #001860;
    background-color: transparent;
}
.nameweb{
    display: none;
}
.navbar-inverse .navbar-brand {
    color: #1333bb;
    font-weight: 500;
}




.img_sec3{

    height: 80px;
    width: 80px;
    object-fit: cover;
}

.single-affordable{

    text-align: center;
}

.single-affordable h3{

    font-size: 20px;
}

.animaiton_hover_course:hover{
    transform: translateY(-10px);
    transition: all ease-in-out 0.75s;
    cursor: pointer;
}

.contact{
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 20px;
    z-index: 100;
    width: 40px;
    
}
.contact ul li {
    font-size: 27px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    width: 50px;
    border-radius: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul li a{
   
    color: #fff;
    
}

.selections-title{
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #001860;
    font-weight: 600;
}
.single-affordable__image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto 25px;
    background-color: #edf5fc;
    border-radius: 50%;
}

.iconcmt_section41{
    display: block;
    font-size: 90px;
    margin-top: 31px;
}

.carousel_incHeight_centerdiv{
    
    position: relative;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators__top81{
    
    top: 81%;
}

.item{
    font-size: 17px;
   
}
/* section4 */
.center_div_number{
    text-align:center;
    margin-bottom: 47px;
    
}
.center_div_number h4{
    margin-top: 30px;
    color: black;
}
.number-and-pic img{
    position: relative;
}
.number-and-pic h2{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #59a3de;
    font-weight: 700;
    font-size: 36px;
}


/*     midascivil_ml50xp; */
.midascivil_ml50px{

    margin-left: 619px
}


/* responsive  */


@media only screen and (max-width: 600px) {
    .margin-top-200{
        margin-top: -50px;
    }
    .footer {
        height: 55px;
    }
   .lienhe{
    display: none;
   }

   .imgcourse{
    display: none;

   }
   .nameweb{
    display: block;
    color: blue;
    font-size: 30px;
    margin-top: 6px;
     
   }

   .carousel_incHeight_centerdiv {
    position: relative;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    }


    .center_div_number{
    text-align:center;
    margin-bottom: 47px;
    }
    .midascivil_ml50px{
        margin-left: 50px;
    }
  }